{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bomet Newswire</title>
        
        <!-- Favicon -->
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        
        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="Bomet Newswire">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.bometnewswire.co.ke">
        <meta property="og:image" content="https://www.bometnewswire.co.ke/static/images/og_image.png">
        <meta property="og:description" content="Stay updated with the latest news from Bomet.">
        
        <!-- Additional Open Graph Meta Tags for Render -->
        <meta property="og:image" content="https://bometnewswire.onrender.com/static/images/og_image.png">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
        <!-- Static CSS file -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        
        <!-- PDF.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>
        
        <!-- Custom Scripts -->
        <script src="{% static 'js/epaper.js' %}"></script>
        <script src="{% static 'scripts.js' %}"></script>
    </head>
    
    
    
<body class="flex-column min-vh-100">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #0056b3; padding: 10px;">
    <a class="navbar-brand" href="{% url 'home' %}" style="color: white; font-size: 24px; font-weight: bold; letter-spacing: 1px;">Bomet NewsWire</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
        <ul class="navbar-nav" style="gap: 15px;">
            <!-- Search form in the navbar -->
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET" style="display: flex; align-items: center;">
                    <div class="input-group rounded-search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="q">
                        <div class="input-group-append">
                            <span class="input-group-text" style="background-color: transparent; border: none;">
                                <button class="btn btn-outline-light" type="submit" style="border: none; padding: 0;">
                                    <i class="fas fa-search search-icon"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'all_news' %}">All </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'category' 'Africa' %}">Africa News</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'category' 'National' %}">National</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'category' 'Business' %}">Business</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'category' 'Sports' %}">Sports</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'category' 'Lifestyle' %}">Lifestyle</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'epaper_list' %}">e-paper</a></li>
        </ul>
    </div>
</nav>

<!-- Main Content -->
<div class="container-fluid p-0 flex-grow-1">
    <div class="container-fluid content">
        {% block content %}
        {% endblock %}
    </div>
</div>

<!-- Footer -->
<footer class="bg-primary text-white text-center py-3 mt-auto">
    <p>&copy; 2024 Bomet Newswire. All rights reserved.</p>
</footer>

<!-- Bootstrap and jQuery scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.min.js"></script>
</body>
</html>
